<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Travel Agency Client Manager</title>
<meta name="author" content="Joanna Zdżalik">
<meta name="description" content="travel agency task implementation">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet" type="text/css" th:href="@{/css/my.css}">
</head>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
	integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
	crossorigin="anonymous"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
	integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
	integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
	crossorigin="anonymous"></script>

<body>
	<div class="container formBox">
		<h3>TRAVEL AGENCY CLIENT'S MANAGER</h3>
	</div>
	<form action="#" th:action="@{/addclient}" method="post"
		th:object="${clientToCreate}">
		<div class="container formBox">
			<h3>ADD CLIENT</h3>
			<div class="d-flex flex-row justify-content-center">
				<div class="form-group col-md-8 mb-20">
					<label for="name">Name: </label> <input type="text" id="name"
						class="form-control" th:field="*{name}" th:required="required">
				</div>
			</div>
			<div class="d-flex flex-row justify-content-center ">
				<div class="form-group col-md-8 mb-20">
					<label for="surname">Surname: </label> <input type="text"
						id="surname" class="form-control" th:field="*{surname}"
						th:required="required">
				</div>
			</div>
			<div class="d-flex flex-row justify-content-center">
				<div class="form-group col-md-8 mb-20">
					<label for="passportNr">Passport number: </label> <input
						type="text" id="passportNr" class="form-control"
						th:field="*{passportNr}" th:required="required">
				</div>
			</div>
			<div class="d-flex flex-row justify-content-center mt-20 mb-20">
				<button type="submit" class="btn btn-info">Save</button>
			</div>
		</div>
	</form>

	<div class="container formBox justify-content-center" th:switch="${allClients}">
		<h2 th:case="null">No clients in database!</h2>
		<div th:case="*">
			<h3 >ALL CLIENTS</h3>
			<table class="table table-bordered table-hover mt-20">
				<thead class="thead-dark">
					<tr>
						<th>NAME</th>
						<th>SURNAME</th>
						<th>PASSPORT NUMBER</th>
						<th>EDIT</th>
						<th>DELETE</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="client : ${allClients}">
						<td th:text="${client.name}"></td>
						<td th:text="${client.surname}"></td>
						<td th:text="${client.passportNr}"></td>
						<td></td>
						<!-- 	<td><a th:href="@{/edit/{id}(id=${client.id})}">Edit</a></td> -->
						<!-- 		<td><a th:href="@{/delete/{id}(id=${client.id})}">Delete</a></td> -->
						<td><form th:action="@{/delete}" th:object="${clientToDelete}" method="post">
                    <input type="hidden" name="id" th:value="${client.id}">
                    <input type="hidden" name="name" th:value="${client.name}">
                    <input type="hidden" name="surname" th:value="${client.surname}">
                    <input type="hidden" name="passportNr" th:value="${client.passportNr}">
                    <button type="submit"class="btn btn-outline-info">Delete</button>
             		  </form></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>

</body>
</html>
